html, body{
	margin: 0px;
  padding: 0px;
}

#google-maps{
  width: 700px;
  margin: 0 auto;
}

#place-search{
  float: left;
  width: 700px;
  /*background-color: yellow;*/
}

#search-input{
  float: left;
  width: 400px;
  /*background-color: red;*/
}

#inner-map{
  width: 300px;
  height: 280px;
  float: left;
  /*background-color: grey;*/

  /*  Absolute centering for map-search */
  position: relative;
}

#outer-map{
  width: 700px;
  height: 350px;
  float: left;
  /*background-color: grey;*/

  /*  Absolute centering for map-search */
  position: relative;
}

.map{
  top: 0; left: 0; bottom: 0; right: 0;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
}

#map-search {
  height: 250px;
  width: 250px;
  /*  Absolute centering  */
  overflow: auto;
  margin: auto;
  position: absolute;
}

#map-location{
  width: 500px;
  height: 300px;
  /*  Absolute centering  */
  overflow: auto;
  margin: auto;
  position: absolute;
}

#adress-information{
  width: 700px;
  /*  Absolute centering  */
  float: left;
}

#footer{
  width: 700px;
  float: left;
  /*background-color: green; */
}

#search-details{
  /*display: none;*/
}

#google-maps input[type="text"]{
  float: left;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 20px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
}

#search-input input{
  width: 360px;
  margin-top: 15px;
}

#half-search input{
  width: 170px;
}

#google-maps input[type="text"]:focus {
  border-color: #4d90fe;
}

.controls {
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac_input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 660px;
}

.pac-container {
  font-family: Roboto;
}

#selector{
  width: 700px;
}

#type-selector {
  float: left;
  width: 660px;
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
  margin-left: 20px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#footer{
  
}
.separate_address{
  display: none;
}
.separate_address #street_number{
  float: left;
  width: 125px;
}
.separate_address #route{
  float: left;
  width: 215px;
}
/*
#footer p.loupe{
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
  -o-transform: rotate(45deg);
}
*/

#adress-information p{
  margin: 5px 0px;
  font-family: Roboto;
  font-weight: 250;
  color: #4d90fe;
  font-size: 16px;
  text-align: center;
}

p.refresh{
  padding: 0px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  font-family: Roboto;
  font-weight: 250;
  color: #4d90fe;
  font-size: 16px;
}

/* unvisited link */
a.link:link {
  color: #4d90fe;
  text-decoration: none;
}

/* visited link */
a.link:visited {
  color: #4d90fe;
  text-decoration: none;
}

/* mouse over link */
a.link:hover {
  color: #6dA1fe;
  text-decoration: underline;
}

/* selected link */
a.link:active {
	text-decoration: underline;
}	